*{
    margin:0;

}

body {
    font-family: sans-serif;
    background-image: linear-gradient(180deg, rgb(134, 97, 53) 0%, #ffd27f 50.96%, rgb(255, 238, 206)
    , #ffffff 100%);
    width: 100%;
}


header{
    height:300px;
    display: flex;
    font-size: 70px;
    color: white;
    align-items:center;
    justify-content: space-around;
    border-bottom: 10px solid whitesmoke;
}

h1 {
    font-family: "Lemon", serif;
    font-style: normal;
    font-weight: 400;
    font-size:150px;
    line-height: 84px;
    color: #FFFFFF;
    -webkit-text-stroke: 7px whitesmoke;
}

main {

}

header img{
    border-radius: 12px;
    border: 4px solid whitesmoke;
}

h2{
    font-size: 50px;
    justify-content: space-around;
    color:white;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.catalog img{
    border-radius: 20px;
    border:20px solid white;
}

.catalog {
    padding: 40px;
    align-content: center;
  border-radius: 15px;
  height: 250px; 
  background-color: rgb(138, 110, 70);
  display:flex ;
  justify-content: space-evenly;
  margin: 40px;
}
p {
    color:rgb(0, 0, 0);
    border-radius: 5px;
    background-color: white;
    text-align: center;
    width: 100px;
    height: 30px;
    margin: -4px auto;
    font-size: 25px;
}
.vidgyki {
    font-size: 100px;
    color:rgb(138, 110, 70);
    text-align: center;
    border: 4px solid rgb(138, 110, 70);
    background-color: rgb(255, 255, 255);
}

.tabluchkavidgykiv {
   font-size: 50px;
   color: rgb(138, 110, 70);
   background-color: white;
   margin: 20px;
   padding: 5px;
   border-radius: 10px;
}

footer {
    border-top: 10px solid rgb(138, 110, 70);
    display :flex;

}

.footerlogo {
    margin-top: 100px;
    margin-left: 70px;
    border:10px solid #FFFFFF;
    border-radius: 12px;
}

.poshta{
    background-color: #FFFFFF;
    width: 400px;
    height: 100px;
    border-radius: 12px;
    font-size: 32px;
    margin-top: 100px;
    margin-left: 120px;
    padding-left: 50px;
    padding-top: 20px;
}

.instagram {
    background-color: #FFFFFF;
    width: 400px;
    height: 100px;
    border-radius: 12px;
    font-size: 32px;
    padding-left: 50px;
    padding-top: 20px;
    margin-left: -450px;
    margin-top: 300px;
}

